*{
  margin: 0px;
  padding: 0px;
}
header{
  text-align: center;
  padding: 15px;
  width: 500px;
  margin:auto; 
}
body{
  background-color:whitesmoke;
  font: normal 15pt Arial;
  
}
section{
  background-color: #D7D7D7;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  height: 300px;
  margin:auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.352); 
}
div{
  text-align: center;
  padding: 3px;
}
img#foto{
  margin: 10px 30px;
}
footer{
  text-align: center;
  color: black;
  margin-top: 10px;
}
